/*
    Common Stylesheet File
    Created by: 
    yyyy-mm-dd hh:mm

    Handles the common interface of HTML controls in throughout the website.
*/

@import url("../Font/Lato-Light.ttf");
@import url("../Font/Lato-Regular.ttf");
@import url("../Font/VarelaRound-Regular.otf");

@charset "utf-8";

@font-face {
    font-family: Lato-Regular;
    src: url("../Font/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("../Font/Lato-Light.ttf");
}

@font-face {
    font-family: VarelaRound-Regular;
    src: url("../Font/VarelaRound-Regular.otf");
}

@font-face {
    font-family: DroidSans;
    src: url("../Font/DroidSans.ttf");
}

html
{
    position: relative;
    min-height: 100%;
    width:100%;
    margin: 0;
    background-color: #E7E7E7;
}

body 
{ 
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    width: 100%;
    bottom: 10px;
    color: #000;
    font-family: Lato-Regular, Lato-Light, VarelaRound-Regular, DroidSans, sans-serif;
    font-size: 16px;
    margin:0px 0px 70px 0px;
    z-index: 0;
}


* {	
	margin: 0px;
     padding: 0px;
}

.clear {
    height:40px;
	clear:both;

}

.clearleft {
    display: block;
    clear: left;
}

.clearright {
    display: block;
    clear: right;
}

.hide {
	display:none;

}

a {
	color:#B32C0E; 
}

a:hover {
	color:#000000;
	text-decoration:none;
}

/*------------------------------------------------*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
}


#wrapper {
	min-height:100%;
	position:relative;
    background-color:#ededed;
    
}

#header {
	background:#ededed;
	padding:0;
}

.content
{
    min-height: 100%;
    margin: 0 auto -70px;
}
.content:after
{
    content: "";
  display: block;
  height: 40px;
}
#footer {
    position: absolute;
    left: 0px;
    bottom:0px;
    margin-bottom:0px;
    height:  40px;
    width: 100%;
    background-color: #343434;
    display: block;
    line-height:40px;
    color:white;
    font-family:Arial;
    text-align:center;
}
/*----------------------------------------------------------------*/

/*Header*/
.header {
	height:0px;
	background:#c2c2c2;
	clear: both;
}

#topmenu {
	display:block;
	list-style:none;
	padding-right:50px;
	float: right;
    background:#FFFFFF;
    height:37px;
}
#topmenu li {
	display:inline;
}
#topmenu a {
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px 0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:left;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
	color:#000000;
}
#topmenu a:hover{
	color:#ffffff;
	background-color: #ff0303;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
	color:#FFFFFF;
	background-color: #ee0000;
}


/*Content*/
#content {
    padding-bottom:90px;
	background-color: #ffffff;
}

#mainpage {
    color:black;
    font-family:Arial;
    font-size: 15px;
	width:auto;
   /* min-width:800px; */ 
	margin-left:auto;
    margin-right:auto;
	padding:10px 50px 50px 50px;
	height:auto;
    min-height:453px;
}

#mainpage p {
	line-height:22px;
	margin:10px 0px 0px 0px;
}

#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:5px;
	font:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;

}

h1, h2, h3, h4, h5 {
	color:#B32C0E;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
    height: 30px;
}

#mainpage h1 {
	font-size:24px;
	color:#B32C0E ;
}

#mainpage h2 {
	font-size:18px;
	padding-top:0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #B52E10;
}

#mainpage h3 {
    padding-top:10px;
	font-size:18px;

}

#mainpage h4 {
	font-size:18px;
    border-bottom:1px solid #B52E10;
}
#mainpage h5 {
	font-size:16px;
}
#mainpage table{
    border:3px;
    border-color:black;
    border-spacing:0;
    text-size-adjust:100%;
}
.style_2 {
	font-size: 7px;
	color: #000011;
	}
.style_2 a{
	font-size: 7px;
	color: #000011;
	}
.style_2 a:hover{
	font-size: 7px;
	color: #000011;
	}
#content #mainpage ol {
	margin:10px 10px 10px 25px;}
#content #mainpage ol li {
	padding:5px 5px 5px 20px;}
#content #mainpage ul li {
	display:block; 
	padding:0px; 
	border-bottom: dashed 1px #D6E4A7;}


/*Sidebar
#sidebar {
	margin:0px 0px 0px 0px;
	width: 225px;
	float: right;
}
#sidebarcontents {
	padding:5px 0px 5px 0px;
}

//Sidemenu
#menu {
	list-style:none;
}
#menu li ul {list-style:none;}
#menu li ul li {
	display:block; 
	height:25px; 
	border-bottom:solid 1px #efefef;}
#menu li ul a, #menu li ul a:visited, #menu li ul a:active {
	display:block; 
	height:20px; 
	padding:5px 5px 0px 5px; 
	text-decoration:none; 
	color:#333333;}
#menu li ul  a:hover {
	background:#F8F9F2;
	color:#B32C0E;
}
#menu h2 {
	display:block;
	border-bottom:solid 1px #D2E6CA;
	padding:5px;
	margin:10px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#B32C0E;
	font-weight:bold;
}
*/
#credit {font-size:10px; 
	padding:3px;}
#sitename a{
    padding:10px 0 10px 5px;
    max-height:40px;
	background-image:url("../Images/Keysight_Technologies_Logo.png");
}

#topbar{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	height:84px;
    background:#FFFFFF;
}
#caption{
	height:50px;
	background:url("../Images/pageloader.GIF") repeat-x top left;
	}
	.bold{font-size:16px;
	color:#FFFFFF;
	padding-left:100px;
	padding-top:25px;
	}

#cssTable{
    border:1px;
    border-spacing:0;
}
/*page loader*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("Images/pageloader.GIF") 50% 50% no-repeat rgb(249,249,249);
   
}
/*-----------*/
.user_symbol
{
    height: 15px; 
    width: 15px;
   
}


.copyright_msg {
    padding:20px 0 10px 0;
    font-size:small;
    text-align:center;
}

.welcome_msg {
    
    color: #F9690E;
    font-family: 'Varela Round', sans-serif;
 
 
-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
/*-----------------*/
/*--------Logo----------------*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*-------------------------------------------------------*/

